[Desktop Entry]
Type=Application
Name=obkey
GenericName=Openbox keyboard shortcuts
GenericName[de]=Openbox Tastaturkürzel
GenericName[zh_TW]=Openbox 組態管理器
Comment=Configure keyboard shortcuts used by Openbox
Comment[de]=Konfiguration der Tastaturkürzel von Openbox
Icon=obconf
NotShowIn=KDE;XFCE;
Exec=obkey
Terminal=false
MimeType=application/x-openbox-theme;
Categories=Settings;DesktopSettings;GTK;
StartupNotify=true
